*{
    margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a1d2e;
  color: white;
}

.navbar-bg {
  background-color: #0a1d2e;
  height: 8vh;
}

.sidebar{
    height: 92vh;
    background-color: #0a1d2e;
    width: 15%;
    min-width: fit-content;
}
